<div class="title-action">
  <h2 id="blogs-count" class="title-action__title h3">
    <%= render partial: "decidim/blogs/posts/count", locals: { posts: posts } %>
  </h2>
</div>

<div class="row">
  <div id="blogs" class="columns">
    <%= render partial: "decidim/blogs/posts/posts", locals: { posts: posts } %>
  </div>
</div>
