<% if has_link_to_resource? %>
  <div class="card__footer">
    <div class="card__support">
      <span class="card__button button hollow large primary">
        <%= t("decidim.accountability.result_m.view") %>
      </span>
    </div>
  </div>
<% end %>
