
<% if type == "Decidim::User" && filter.subtype == "sparring" %>
  <div class="section">
    <div class="row">
      <div class="column medium-8 medium-push-2">
        <div class="callout secondary">
          <h3 class=h4>Mikä on sparrauskaveri?</h3>
          <p>Sparrauskaveri on kaupungin työntekijä, joka on tarjoutunut auttamaan kokeiluehdotuksen työstämisessä. Tarjottu apu voi olla pientä tai suurta, täysin yleistä tai tietyn aihealueen asiantuntemusta. Apu voi tarkoittaa, että sparrauskaveri on valmis liittymään jäseneksi tiimiin tai vain hetkellistä apua pallottelemaan ideoita tai oikolukemaan tekstiä – avun luonne on täysin sovittavissa.</p>
          <p>Tutustu sparrauskavereiden profiileihin ja ota heihin rohkeasti yhteyttä ja käy itse merkitsemässä omaan profiiliisi halukkuutesi sparrauskaveriksi!</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="section">
  <div class="row small-up-1 medium-up-2 large-up-3 card-grid">
    <% results.each do |result| %>
      <%= card_for result, { show_footer_actions: false } %>
    <% end %>
  </div>

  <%= decidim_paginate results if results.respond_to?(:total_pages) %>
</div>
