<div class="card__footer card__footer--spaces">
  <div class="card__support">
    <span class="card__button button hollow large primary">
      <%= t("decidim.blogs.posts.show.view") %>
    </span>
  </div>
</div>
