@import "helsinki-variables";

// // Variables
//
$primary: $hel-black;
$primary-rgb: $hel-black-rgb;
$secondary: $hel-engel;
$secondary-rgb: $hel-engel-rgb;
$success: $hel-success;
$success-rgb: $hel-success-rgb;
$warning: $hel-alert;
$warning-rgb: $hel-alert-rgb;
$alert: $hel-error;
$alert-rgb: $hel-error-rgb;
$highlight: $hel-info;
$highlight-rgb: $hel-info-rgb;
$highlight-alternative: $hel-copper;
$highlight-alternative-rgb: $hel-copper-rgb;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #4285f4;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;

// Custom variables for easier access
$bg-primary: $hel-engel;
$bg-secondary: $hel-engel-light;
$footer-color: $bg-secondary;

// Paahtimo
$paahtimo-secondary: $hel-fog;
$paahtimo-bg-primary: $hel-fog-light;
$paahtimo-bg-secondary: $hel-fog-light;
$paahtimo-footer-color: $hel-fog-light;

@import "decidim/application";
@import "decidim/tags/tagging-input";
// TODO: Do we need the customized styles from accountability simple?
// @import "decidim/accountability_simple/result";
@import "helsinki/customization";
